@import "../../styles/colors";

.input__wrapper {
    position: relative;
}

.input__icon {
    position: absolute;
    right: 20px;
    bottom: 50%;
    transform: translateY(20%);
    color: $grey-text;
    cursor: pointer;
}