$menu-color: #13315E;
$blue-text: #0A3465;
$dark-blue: #0A2246;
$blue-ligth: #0058D9;
$black-text: #080B0E;
$black: #202020;
$black-opacity: rgba(0, 0, 0, .5);
$grey: #AAAAAA;
$black-two: #000000;
$grey-text: #898C90;
$grey-light-text: #AEB3B7;
$grey-input-text: #D7D7D7;
$white-color: #FFFFFF;
$white-light: rgba(255, 255, 255, 0.5);
$white-opacity: rgba(255, 255, 255, 0.8);
$yellow-button: #FFDF36;
$yellow-button-text: #68572D;
$red-color: rgb(207, 30, 30);
$red-light: rgb(231, 79, 79);
$green-text: #36B55A;
$green-light:#6FCF97;
$ligth-blue: #e6edff;