@import "../../styles/colors";

.alert__wrapper {
    position: fixed;
    top: 100px;
    left: 50%;
    min-width: 200px;
    border-radius: 15px;
    padding: 30px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    transform: translateX(-50%);
    background-color: $dark-blue;
    color: $white-color;
    text-align: center;
    z-index: 3;
    font-size: 16px;
    font-weight: 400;
}

.alert__icon_close {
    position: absolute;
    top: 2px;
    right: 10px;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.alert__close {
    display: none;
}